In [1]:
conda install pandas

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\kerim\anaconda3

  added / updated specs:
    - pandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2023.11.17         |  py310haa95532_0         159 KB
    pandas-2.1.1               |  py310h4ed8f06_0        11.0 MB
    python-tzdata-2023.3       |     pyhd3eb1b0_0         140 KB
    ------------------------------------------------------------
                                           Total:        11.3 MB

The following NEW packages will be INSTALLED:

  python-tzdata      pkgs/main/noarch::python-tzdata-2023.3-pyhd3eb1b0_0

The following packages will be UPDATED:

  certifi                         2023.7.22-py310haa95532_0 --> 2023.11.17-py310haa95532_0
  pandas                              1.5.3-py310h4ed8f06_0 --> 2.1.1-py310h4ed8f06_0



Downloading and Extracting Packages

pandas-2.1.1         | 11.0 MB   |            |   0%

certifi-2023.11.17   | 159 KB    |            |   0%


python-tzdata-2023.3 | 140 KB    |            |   0%
pandas-2.1.1         | 11.0 MB   |            |   0%

certifi-2023.11.17   | 159 KB    | #          |  10%
pandas-2.1.1         | 11.0 MB   |            |   1%

certifi-2023.11.17   | 159 KB    | #####      |  50%
pandas-2.1.1         | 11.0 MB   | 1          |   2%
pandas-2.1.1         | 11.0 MB   | 2          |   3%


python-tzdata-2023.3 | 140 KB    | #1         |  11%

certifi-2023.11.17   | 159 KB    | ########## | 100%

certifi-2023.11.17   | 159 KB    | ########## | 100%
pandas-2.1.1         | 11.0 MB   | 4          |   5%


python-tzdata-2023.3 | 140 KB    | ###4       |  34%
pandas-2.1.1         | 11.0 MB   | 6          |   6%


python-tzdata-2023.3 | 140 KB    | ####5      |  46%
pandas-2.1.1         | 11.0 MB   | 7          |   8%
pandas-2.1.1         | 11.0 MB   | 9          |   9%
pandas-2.1.1         | 11.0 MB   | #          |  11%
pandas-2.1.1         | 11.0 MB   | #2         |  13%
pandas-2.1.1         | 11.0 MB   | #4         |  14%
pandas-2.1.1         | 11.0 MB   | #6         |  16%
pandas-2.1.1         | 11.0 MB   | #7         |  18%
pandas-2.1.1         | 11.0 MB   | ##         |  20%
pandas-2.1.1         | 11.0 MB   | ##2        |  22%
pandas-2.1.1         | 11.0 MB   | ##5        |  26%
pandas-2.1.1         | 11.0 MB   | ##8        |  28%
pandas-2.1.1         | 11.0 MB   | ###        |  30%
pandas-2.1.1         | 11.0 MB   | ###2       |  32%
pandas-2.1.1         | 11.0 MB   | ###4       |  34%
pandas-2.1.1         | 11.0 MB   | ###6       |  36%
pandas-2.1.1         | 11.0 MB   | ###7       |  38%


python-tzdata-2023.3 | 140 KB    | ########## | 100%


python-tzdata-2023.3 | 140 KB    | ########## | 100%
pandas-2.1.1         | 11.0 MB   | ####       |  41%
pandas-2.1.1         | 11.0 MB   | ####2      |  43%
pandas-2.1.1         | 11.0 MB   | ####4      |  44%
pandas-2.1.1         | 11.0 MB   | ####6      |  47%
pandas-2.1.1         | 11.0 MB   | ####8      |  49%
pandas-2.1.1         | 11.0 MB   | #####      |  51%
pandas-2.1.1         | 11.0 MB   | #####3     |  53%
pandas-2.1.1         | 11.0 MB   | #####4     |  55%
pandas-2.1.1         | 11.0 MB   | #####6     |  57%
pandas-2.1.1         | 11.0 MB   | #####8     |  58%
pandas-2.1.1         | 11.0 MB   | ######     |  60%
pandas-2.1.1         | 11.0 MB   | ######1    |  62%
pandas-2.1.1         | 11.0 MB   | ######3    |  64%
pandas-2.1.1         | 11.0 MB   | ######5    |  66%
pandas-2.1.1         | 11.0 MB   | ######8    |  68%
pandas-2.1.1         | 11.0 MB   | #######    |  70%
pandas-2.1.1         | 11.0 MB   | #######1   |  72%
pandas-2.1.1         | 11.0 MB   | #######4   |  75%
pandas-2.1.1         | 11.0 MB   | #######6   |  77%
pandas-2.1.1         | 11.0 MB   | #######9   |  80%
pandas-2.1.1         | 11.0 MB   | ########1  |  82%
pandas-2.1.1         | 11.0 MB   | ########4  |  84%
pandas-2.1.1         | 11.0 MB   | ########6  |  86%
pandas-2.1.1         | 11.0 MB   | ########8  |  88%
pandas-2.1.1         | 11.0 MB   | #########  |  91%
pandas-2.1.1         | 11.0 MB   | #########2 |  93%
pandas-2.1.1         | 11.0 MB   | #########4 |  95%
pandas-2.1.1         | 11.0 MB   | #########6 |  96%
pandas-2.1.1         | 11.0 MB   | #########7 |  98%
pandas-2.1.1         | 11.0 MB   | ########## | 100%
pandas-2.1.1         | 11.0 MB   | ########## | 100%








Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

==> WARNING: A newer version of conda exists. <==
  current version: 23.3.1
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0

In [2]:
import pandas as pd
import numpy as np

In [3]:
#series

In [4]:
my_dict = {"James": 50, "Lars": 60, "Kirk": 55, "Rob": 65}

In [5]:
pd.Series(my_dict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [6]:
age_list = [50,60,55,65]
name_list = ["James", "Lars", "Kirk", "Rob"]

In [8]:
pd.Series(data=age_list, index=name_list)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [9]:
numpy_array = np.arange(0,8)

In [10]:
numpy_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [11]:
pd.Series(numpy_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [13]:
new_numpy_array = np.array([10,20,30,40])

In [15]:
pd.Series(new_numpy_array)

0    10
1    20
2    30
3    40
dtype: int32

In [16]:
new_numpy_array

array([10, 20, 30, 40])

In [17]:
name_list

['James', 'Lars', 'Kirk', 'Rob']

In [19]:
pd.Series(data=new_numpy_array, index=name_list)

James    10
Lars     20
Kirk     30
Rob      40
dtype: int32

In [20]:
my_series = pd.Series(data=new_numpy_array, index=name_list)

In [21]:
my_series

James    10
Lars     20
Kirk     30
Rob      40
dtype: int32

In [22]:
my_series["Kirk"]

30

In [23]:
my_series["Kirk"] = 60

In [24]:
my_series

James    10
Lars     20
Kirk     60
Rob      40
dtype: int32

In [25]:
quiz_results1 = pd.Series(data=[70,60,100],index=["A","B","C"])

In [26]:
quiz_results2 = pd.Series(data=[80,30,50],index=["A","B","C"])

In [27]:
quiz_results1

A     70
B     60
C    100
dtype: int64

In [28]:
quiz_results2

A    80
B    30
C    50
dtype: int64

In [29]:
quiz_results1 + quiz_results2

A    150
B     90
C    150
dtype: int64

In [30]:
exam_results1 = pd.Series(data=[70,60,100],index=["A","B","C"])
exam_results2 = pd.Series(data=[80,30,50],index=["A","D","C"])

In [31]:
exam_results1 + exam_results2

A    150.0
B      NaN
C    150.0
D      NaN
dtype: float64